body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Rose', cursive;
  font-style: normal;
}

.navlink {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  padding-top: 15px;
  justify-content: space-around
}

.sub {
    
}

a.navlink {
    text-decoration: none;
    font-style: normal;
    padding: 0 24px;
    line-height: 25px;
    color: #434343;
}

a#route {
}

img#metabnb_logo {
    width: 170px;
    height: 36.67px;
}

button {
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border-radius: 10px;
    border: 0;
    color: white;
    padding: 9px 25px;
    font-family: 'Red Rose', cursive;
}